:root {

    /* Docs wide settings */
    --theme-color                       : #027AFF;
    --content-max-width                 : 55em;

    --heading-h1-font-weight            : 800 ;
    --heading-h1-font-family            : 'Muli', sans-serif;
    --heading-h1-color                  : #2A2B30;
    --heading-h1-font-size              : 3rem;


    --heading-h2-font-weight            : 800 ;
    --heading-h2-font-family            : 'Muli', sans-serif;
    --heading-h2-color                  : #2A2B30;
    --heading-h2-font-size              : 2rem;

    --heading-h3-font-family            : 'Muli', sans-serif;;
    --heading-h3-font-size              : 1.75rem;
    --heading-h3-font-weight            : 600 ;


    --heading-h4-border-style           : solid;
    --heading-h4-font-family            : 'Muli', sans-serif;;
    --heading-h4-font-size              : 1.5rem;
    --heading-h4-font-weight            : 500;

    --heading-h5-border-style           : solid;
    --heading-h5-font-family            : 'Muli', sans-serif;;
    --heading-h5-font-size              : 1.25rem;
    --heading-h5-font-weight            : 600;


    --base-background-color: #F9F9F9;
    --base-color           : #2A2B30;
    --base-font-family     : 'Muli', sans-serif;
    --base-font-size       : 16px;
    --base-font-weight     : normal;
    --base-line-height     : 1.7;


    --sidebar-width                               : 23rem;
    --sidebar-nav-strong-font-weight              : 1rem;


    /* Sidebar active state */

    /* Sidebar toggle */
    --sidebar-toggle-background                   : rgb(255, 255, 255);
    --sidebar-toggle-icon-color                   : rgb(5, 126, 224);


    --search-input-border-radius             : 5rem;
    --search-input-margin                    : 0.5;
    --search-input-border-width              : 1px;
    --search-input-border-color              : #027AFF;

    /* Order */
    --search-flex-order                      : 1;

    /* Results */
    --search-result-heading-color            : #027AFF;
    --search-result-heading-font-size        : var(--base-font-size);
    --search-result-heading-font-weight      : normal;
    --search-result-heading-margin           : 0 0 0.25em;
    --search-result-item-border-color        : var(--mono-tint2);
    --search-result-item-border-style        : solid;
    --search-result-item-border-width        : 0 0 1px 0;
    --search-result-item-color               : ;
    --search-result-item-font-size           : ;
    --search-result-item-font-weight         : normal;
    --search-result-item-margin              : ;
    --search-result-item-padding             : 1em 0;
    --search-result-keyword-background       : var(--mark-background);
    --search-result-keyword-border-radius    : 5rem;
    --search-result-keyword-color            : var(--mark-color);
    --search-result-keyword-font-weight      : normal;
    --search-result-keyword-margin           : 0 0.1em;
    --search-result-keyword-padding          : 0.2em 0;

    --sidebar-name-margin                         : 1.5rem 0 0;
    --sidebar-name-padding                        : -3rem;
    --sidebar-name-text-align                     : center;
    --sidebar-name-font-size                      : 0;


    /* Sidebar nav Links */
    --sidebar-nav-link-color                      : #2A2B30;
    --sidebar-nav-link-color--active              : #027AFF;
    --sidebar-nav-link-color--hover               : #027AFF;
    --sidebar-nav-link-font-weight                : 350;
    --sidebar-nav-link-font-weight--active        : ;
    --sidebar-nav-link-font-weight--hover         : ;
    --sidebar-nav-link-margin                     : -0.5em;
    --sidebar-nav-link-padding                    : 0em 0;
    --sidebar-nav-link-border-color--active       : #027AFF;

    /* Nav bar */
    --navbar-root-margin                            : 0 0 0 1.5em;
    --navbar-root-padding                           : 5em;

    /* Nav bar menus that drop from link */
    --navbar-menu-link-margin                       : .75em 1em;
    --navbar-menu-background                        : white;
    --navbar-menu-link-color--hover                 : #027AFF;
    --navbar-menu-link-color                        : black;
}