:root {

    /* Docs wide settings */
    --theme-color   : #142144;
    --content-max-width                 : 55em;

    --heading-h1-font-weight            : 800 ;
    --heading-h1-font-family            : 'Muli', sans-serif;
    --heading-h1-color                  : #2A2B30;
    --heading-h1-font-size              : 3rem;


    --heading-h2-font-weight            : 800 ;
    --heading-h2-font-family            : 'Muli', sans-serif;
    --heading-h2-color                  : #2A2B30;
    --heading-h2-font-size              : 2rem;

    --heading-h3-font-family            : 'Muli', sans-serif;;
    --heading-h3-font-size              : 1.75rem;
    --heading-h3-font-weight            : 600 ;


    --heading-h4-border-style           : solid;
    --heading-h4-font-family            : 'Muli', sans-serif;;
    --heading-h4-font-size              : 1.5rem;
    --heading-h4-font-weight            : 500;

    --heading-h5-border-style           : solid;
    --heading-h5-font-family            : 'Muli', sans-serif;;
    --heading-h5-font-size              : 1.25rem;
    --heading-h5-font-weight            : 600;


    --base-background-color: #F9F9F9;
    --base-color           : #2A2B30;
    --base-font-family     : 'Muli', sans-serif;
    --base-font-size       : 16px;
    --base-font-weight     : normal;
    --base-line-height     : 1.7;


    --sidebar-width                               : 23rem;
    --sidebar-nav-strong-font-weight              : 1rem;


    /* Sidebar active state */

    /* Sidebar toggle */
    --sidebar-toggle-background                   : #027AFF;
    --sidebar-toggle-icon-color                   : white;


    --search-input-border-radius             : 5rem;
    --search-input-margin                    : 0.5;
    --search-input-border-width              : 2px;

    --sidebar-name-margin                         : 1.5rem 0 0;
    --sidebar-name-padding                        : -3rem;
    --sidebar-name-text-align                     : center;
    --sidebar-name-font-size                      : 0;

    /* Nav Headings */
    --sidebar-nav-strong-color                    : red;
    --sidebar-nav-strong-font-size                : ;
    --sidebar-nav-strong-font-weight              : var(--strong-font-weight);
    --sidebar-nav-strong-margin                   : 1.5em 0 0.5em;
    --sidebar-nav-strong-padding                  : 0.25em 0;

    /* Nav Links */
    --sidebar-nav-link-color                      : #2A2B30;
    --sidebar-nav-link-color--active              : #027AFF;
    --sidebar-nav-link-color--hover               : #027AFF;
    --sidebar-nav-link-font-weight                : 350;
    --sidebar-nav-link-font-weight--active        : ;
    --sidebar-nav-link-font-weight--hover         : ;
    --sidebar-nav-link-margin                     : -0.5em;
    --sidebar-nav-link-padding                    : 0em 0;
    --sidebar-nav-link-border-color--active       : #027AFF;

}